
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    width: 100;
    height: 100%;;
    background-color: #d9d9d9;
    margin: 0;
}

.
/****** Header  ******/

header {
    height: 3em;
    width: 100%;
    margin-top: 0;
    float: left;  
    background-color: #339966;
    
}

main-content {
    width: 100%;
    height: 100%;
    clear: both;
}


.clearfix {
    overflow: auto;
}
/*************
	NAVBAR
*************/
.nav {
    height: 100%;
    width: 100%;
    margin-top:;
    margin-left: 0;
}
.nav-header {
    width: 100%; 
    height: 100%;
    margin: 0;
    float: left;
    background-color: #339966;
}

.nav-header ul {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    text-decoration: none;
    color: white;
}

.nav-header {
    width: 100%;
    height: 100%;
    margin-left: 0;
    text-decoration: none;
    display: inline-block;
    float: left;

}

.nav-header a li {
    list-style: none;
    display: inline-block;
    float: left;
    margin: 15px 5px 0;
    font-size: .75rem;
    color: white;
    
}

.navbar-logo {
    list-style: none;
    text-decoration: none;
    width: 35%;
    height: 40%;
    float: right;
    font-size: 2rem;
    margin-right: 0;
    padding-bottom: 5px;
    padding-left: 15px;
}



/*************
	FOOTER
*************/








/*************
	HOME 
*************/



/*************
	ABOUT
*************/



/*************
	PRODUCTS
*************/



/*************
	CONTACT
*************/


