
html body {
	font-family: Helvetica, Arial, sans-serif;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;;
    background-color: #d9d9d9;
    margin: 0;
}

.
/****** Header  ******/

header {
    height: 3em;
    width: 100%;
    margin-top: 0;
    float: left;  
}

.main-content {
    width: 100%;
    height: 100%;
    clear: both;
}


.clearfix {
    overflow: auto;
}
  
  
/*************
	NAVBAR
*************/
header {
    background-color:  #339966;
}

.nav {
    height: 100%;
    width: 70%;
    margin-top: 10px;
    margin-left: 0;
}
.nav-header {
    width: 100%; 
    height: 70%;
    margin: 0;
    float: left;
    background-color: #339966;
}

.nav-header ul {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    text-decoration: none;
    color: white;
}

.nav-header {
    width: 100%;
    height: 100%;
    margin-left: 0;
    text-decoration: none;
    display: inline-block;
    float: left;

}

.nav-header a li {
    list-style: none;
    display: inline-block;
    float: left;
/*    margin: 15px 5px 0 5px;*/
    font-size: 2vw;
    color: white; 
    box-shadow: 2px 2px 2px #464646;
    margin-bottom: 8%;
    margin-right: 15px;
    border-bottom: 2px solid #297e54;
    padding: 2px;
    border-radius:  15%;
}

.nav-header a li:hover {
    background-color: #464646;
    padding: 2px;
    color: white;
    box-shadow: 2px 2px 2px #262626;
    border-radius:  15%;
    border-bottom: 2px solid #262626;
}


.navbar-logo {
/*    list-style: none;*/
/*    text-decoration: none;*/
    width: 20%;
    height: 40%;
    float: right;
/*    font-size: 1rem;*/
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    color: white;
/*    padding-bottom: 5px;*/
/*    padding-left: 5%;*/
/*    margin-left: 5%;*/
}


/*************
	FOOTER
*************/

/*
footer {
    background-color: #339966;
    color: white;
    margin: 0;
    padding: 1px 0;
    text-align: center;
    height: 15em;
}
*/

footer section {
    padding-bottom: 10px;
}

footer ul {
    margin: 0;
    padding: 0;
    text-align: center;
    /*padding-top: 5px;*/
}

footer ul li {
    display: inline-block;
    padding: 10px 5px 0 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer ul li:hover a {
    color: lightgray;
}

footer img {
    height: 50px;
    width: 50px;
    padding: 0 1em;
}
footer {
    background-color: #339966;
    color: white;
    margin: 0;
    /*padding: 1px 0;*/
    padding-top: 1px;
    padding-bottom: 1.4em;
    text-align: center;
    height: 15em;
}


/*************
	HOME 
*************/

#backgroundImg {
    background: 
        linear-gradient(to left, #d9d9d9, transparent 60%) no-repeat,
        #d9d9d9 url('../img/home-page-bg.jpg') no-repeat left;
    background-size: cover;
    height: 100%;
    width: auto;
}

.homeh1 {
    width: 100%;
    height: auto;
    margin: 0 0 0 10px;
    padding-top: 1em;
    font-style: italic;
    color: white;
    background-image: linear-gradient(to left, #d9d9d9, transparent 100%)
}

.homeh2 {
    text-align: center;
    width: 30%;
    height: auto;
    float: right;
    font-style: oblique;
    color: white;
    line-height: 2.5em;
    font-size: 3vw;
    background-color: rgba(0,0,0, .50);
    margin-right: 5%;
    border-radius: 100%;
    border: 3px solid #262626;
    box-shadow: 5px 5px 5px #464646;
}

.homeh2 a {
    color: white;
    text-decoration: none;
}

.homeh2 a:visited {
    color: white;
    text-decoration: none;
}


/*************
	ABOUT
*************/
.main-content {
	margin: 0 auto;
	padding: 1em;
	background-color: #f9f9f9;
	width: 90%;
	height: 100%;
	border: 0.3em solid darkblue;
	border-radius: 1.5em;
}

.about-content {
	padding: 1em;
	display: flex;
}

.about-inside-content {
	color: #777;
}
.about-inside-content>h1{
	text-transform: uppercase;
	font-size: 3em;
	font-weight: lighter;
}

.about-inside-content>p {
	font-size: 1.5em;
	font-weight: lighter;
}

.about-image>img {
	border-radius: 50%;
	margin-right: 2em;
}

.myButton {
    -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
    -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
    box-shadow:inset 0px 39px 0px -24px #e67a73;
    background-color:#e4685d;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:22px;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
    background-color:#eb675e;
}
.myButton:active {
    position:relative;
    top:1px;
}



/*************
	PRODUCTS
*************/







